# Question 1

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [2]:
ages.sort()
print("Minimum Age : ",ages[0])
print("Maximum Age : ",ages[-1])

Minimum Age :  19
Maximum Age :  26

In [3]:
ages.insert(0,ages[0])
ages.append(ages[-1])

In [4]:
if len(ages)%2 == 0:
    mid1 = len(ages)//2
    mid2 = mid1+1
    
    median = (ages[mid1] + ages[mid2]) / 2
else :
    mid = len(ages) //2 + 1
    median = ages[mid]
    
print("Median of Ages : ",median)

Median of Ages :  24.0

In [5]:
total_sum = 0
for num in ages:
    total_sum += num
print("Average of Ages : ",len(ages))

Average of Ages :  12

In [6]:
range_ = ages[-1] - ages[0]
print("Range of Ages : ", range_)

Range of Ages :  7

# Question 2

In [7]:
#Create an empty dictionary called dog
dog = {}

In [8]:
# Add name, color, breed, legs, age to the dog dictionary
dog = {"name":[], "color":[], "breed":[], "legs":[], "age": []}

In [9]:
#Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary

student = {"first_name":[], "last_name":[], "gender":[], "age":[], "marital status":[], "skills":[], "country":[], "city":[],"address":[] }

In [10]:
# Get the length of the student dictionary
print("Lenght of Student Dictionary : ",len(student))

Lenght of Student Dictionary :  9

In [11]:
# Get the value of skills and check the data type, it should be a list

print("Content of skils : ",student["skills"])
print("Type of skills : ",type(student["skills"]))

Content of skils :  []
Type of skills :  <class 'list'>

In [12]:
# Modify the skills values by adding one or two skills
student["skills"] = ["Dance","Singing","Athelete"]

In [13]:
# Get the dictionary keys as a list
print("Keys of Dictionary : ",list(student.keys()))

Keys of Dictionary :  ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']

In [14]:
# Get the dictionary values as a list
print("Values of Dictionary : ",list(student.values()))

Values of Dictionary :  [[], [], [], [], [], ['Dance', 'Singing', 'Athelete'], [], [], []]

In [15]:
print(student)

{'first_name': [], 'last_name': [], 'gender': [], 'age': [], 'marital status': [], 'skills': ['Dance', 'Singing', 'Athelete'], 'country': [], 'city': [], 'address': []}

# Question 3

In [16]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ("Ram","Mark")
sister = ("Merry","Rina")

# Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sister

In [17]:
# How many siblings do you have?
print("No. of Siblings : ",len(siblings))

No. of Siblings :  4

In [18]:
#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
father_mother = ("Ravi","Amma")
siblings = siblings + father_mother

family_members = siblings

In [19]:
family_members

('Ram', 'Mark', 'Merry', 'Rina', 'Ravi', 'Amma')

# Question 4

In [20]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [21]:
#Find the length of the set it_companies
print("Length of IT Companies : ",len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add("Twitter")

# Insert multiple IT companies at once to the set it_companies
multiple_it = {"TCS","Cognizant"}
it_companies.update(multiple_it)

print(it_companies)

#Remove one of the companies from the set it_companies
it_companies.remove("Facebook")

Length of IT Companies :  7
{'Cognizant', 'IBM', 'Twitter', 'Oracle', 'Apple', 'TCS', 'Microsoft', 'Amazon', 'Facebook', 'Google'}

In [22]:
# What is the difference between remove and discard
#The discard() method removes the specified item from the set. This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.
it_companies.remove("Facebook")

KeyError: 'Facebook'

In [23]:
it_companies.discard("Facebook")

In [24]:
# Join A and B
C = A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [25]:
# Find A intersection B
D = A.intersection(B)
print(D)

{19, 20, 22, 24, 25, 26}

In [26]:
# Is A subset of B
print(A.issubset(B))

True

In [27]:
# Are A and B disjoint sets 
print(A.isdisjoint(B))

False

In [28]:
# Join A with B and B with A 
A_B = A.update(B)
B_A = B.update(A)

In [29]:
# What is the symmetric difference between A and B
print(A.symmetric_difference(B))

set()

In [30]:
# Delete the sets completely 
del A, B , it_companies

In [31]:
# Convert the ages to a set and compare the length of the list and the set.
ages_set = set(ages)
print("Difference in Length : ",len(ages)-len(ages_set))

Difference in Length :  6

# Question 5

In [32]:
# The radius of a circle is 30 meters.
radius = 30
pi = 3.14

#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_ 
_area_of_circle_ = pi * radius * radius
print("Area Of Circle : ",_area_of_circle_)

# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_ = 2 * pi * radius
print("Circum Of Circle : ",_circum_of_circle_)

# Take radius as user input and calculate the area.
pi = float(input("ENter the value of pi : "))
_area_of_circle_ = pi * radius * radius
print("Area Of Circle : ",_area_of_circle_)

Area Of Circle :  2826.0
Circum Of Circle :  188.4
ENter the value of pi : 5.2
Area Of Circle :  4680.0

# Question 6

In [33]:
sentence = "I am a teacher and I love to inspire and teach people"
print("Length of unique words : ",len(set(sentence.split(" "))))

Length of unique words :  10

# Question 7

In [34]:
print("Name \t\t Age \t Country \t City")
print("Asabeneh \t 250 \t Finland \t Helsinki")

Name 		 Age 	 Country 	 City
Asabeneh 	 250 	 Finland 	 Helsinki

# Question 8

In [35]:
radius = 10
area = 3.14 * radius ** 2

print("Area : {:.2f}".format(area))
print("The area of a circle with radius {} is {} meters square".format(radius,int(area)))

Area : 314.00
The area of a circle with radius 10 is 314 meters square

# Question 9

In [36]:
num_students = int(input("Enter Number of Students : "))
weights = []
for i in range(num_students):
    weights.append(int(input("Weight of Student {} (in lbs) : ".format(i+1))))

mul_factor = 0.45359237     
weights_kg = [i * mul_factor for i in weights ]

print(weights_kg)

Enter Number of Students : 2
Weight of Student 1 (in lbs) : 136
Weight of Student 2 (in lbs) : 143
[61.68856232, 64.86370891]

# Question 10

In [37]:
feature = [1,2,3,6,6,7,10,11]
classes = [0,0,1,1,1,0,0,0]

In [38]:
mid = len(feature)//2
train_feature, train_label = feature[0:mid],classes[0:mid]
test_feature, test_label = feature[mid:],classes[mid:]

In [39]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [40]:
model = KNeighborsClassifier(n_neighbors=3)

train_feature = np.array(train_feature).reshape((-1,1))
model.fit(train_feature,train_label)

test_feature = np.array(test_feature).reshape((-1,1))
predicted = model.predict(test_feature)

In [41]:
print("Confusion Matrix : \n",confusion_matrix(predicted,test_label))
cnf_matrix = confusion_matrix(predicted,test_label)

TP = cnf_matrix[0][0]
TN = cnf_matrix[1][1]

FP = cnf_matrix[0][1]
FN = cnf_matrix[1][0]

Confusion Matrix :
 [[0 0]
 [3 1]]

In [42]:
accuracy = (TP + TN)/(TP+TN+FP+FN)
print("Accuray : ",accuracy) 

sensitivity = TP/(TP + FN)
print("Sensitivity : ",sensitivity) 

Specificity = TN/(TN+FP)
print("Specificity : ",Specificity)

Accuray :  0.25
Sensitivity :  0.0
Specificity :  1.0